@media (max-width:560px)
{

/* to hide elements in mobile */
/* .nav-menu{
    display: none;
} */
.mob,.main-container{
    display: inline-block;
}    

/* back to top button */
.btt{
    margin-left: 76%;
}

    
/* css for header */
.header{
    height: 55px;
    padding: 10px 32px;
     
}
.profile-name{
    font-size: 15px;
    /* background-color: black; */
    padding: 5px 10px;
}
.hamburger{
    display: block;    
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: fixed;
    left:-100%;
    top: 55px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.menu{
    margin: 16px 0;
}
.nav-menu:active{
    left: 0;
    display: block;
}


/* css for banner */

.banner{
    height: 780px;
}
.banner-title{
    font-size: 30px;
     
}
.banner-details{
    text-align: center;
}
.setup-bg{
    width: 99%;
} 

/* css for about me section */
.about{
    height: 500px;
    padding-top: 100px;
} 
.about-title{
    font-size: 22px;
}
.about-subtitle{
    font-size: 1.25rem; 
}

/* css for Skills section  */
.main-container{
    display: inline-block;
}

.skills{
    height: 2200px;
}
.skills-container{
    height: 1700px;
    width: 60%;
    /* background-color: #fff; */
    margin-left: 75px;
    border-radius: 15px;
    border-right: none;
}
.front-end{
    width: 150%;
    display: inline-block;
}
.back-end{
    display: block;
}
.tools{
    display: inline-block;
    /* background-color: red; */
    margin-top: 550px;
}
.tech-img{
    height: 150px;
    width: 150px;
    margin-left: 15px !important; 
    margin-bottom: 20px;
}
.tools > img{
    margin-left: 15px !important; 
}
.experience-container{
    height: 260px;
    width: 90%;
    margin: 25px 25px;
    display: block;
    /* border-top: 3px solid darkgray; */
}
.experience-container > .details{
    height: 60%;
    width:100%;

} 

/* css for recent work  */
.mywork{
    height: 2150px;
}
.mywork-subitle{
    text-align: center;
}
.card-container{
    display: block;
    margin-top: 4rem;
    width: 95%;
    height: 650px;
    /* background-color: #7510F7; */
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    height: 40%;
    width: 100%;
    margin-bottom: 30px;
}

/* Css for Footer */

.contact-container{
    width: 100%;
}
.social-platforms > a {
    margin: 25px 20px;
    text-decoration: none;
}


}