@media (max-width:600px)
{

/* to hide elements in mobile */
.header{
    display: none;
}
.mob,.main-container{
    display: inline-block;
}    

/* back to top button */
.btt{
    margin-left: 82%;
}

    
/* css for banner */
.banner{
    height: 822px;
}
.banner-title{
    font-size: 30px;
     
}
.banner-details{
    text-align: center;
}
.setup-bg{
    width: 99%;
} 

/* css for about me section */
.about{
    height: 460px;
    padding-top: 100px;
} 
.about-title{
    font-size: 22px;
}
.about-subtitle{
    font-size: 1.25rem; 
}

/* css for Skills section  */
.skills{
    height: 1000px;
}
.skills-container{
    height: 500px;
    width: 45%;
    /* background-color: #fff; */
    margin-left: 75px;
    /* border-radius: 15px; */
    border-right: none;
}
.front-end{
    width: 150%;
}
.back-end{
    margin-left: -100px;
}
.tools{
    display: flex;
    margin-left: none;
}
.tech-img{
    margin-left: 15px !important; 
}
.tools > img{
    margin-left: 15px !important; 
}
.experience-container{
    height: 260px;
    width: 90%;
    margin: 25px 25px;
    display: flex;
    border-top: 3px solid darkgray;
}
.experience-container > .details{
    height: 60%;
    width:100%;

} 

/* css for recent work  */
.mywork{
    height: 2500px;
}
.mywork-subitle{
    text-align: center;
}
.card-container{
    display: block;
}
.card{
    height: 40%;
    width: 100%;
    margin-bottom: 30px;
}

/* Css for Footer */
/* .contact{
    height: 400px;
} */
.contact-container{
    width: 100%;
}


}