*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* global Css */
.section{
    padding: 5rem 1.5rem;
}
h1,h2{
    font-family: "eurostile", sans-serif;
    font-weight: 800;
}


/* End of global css */

/* back to top button */
.btt{
    height: 60px;
    width: 60px;
    color: #fff;
    border-radius: 50%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    margin-left: 93%;
    margin-top: 85vh;
    opacity: .6;
    transform: 15vh;
    cursor: pointer;
}
.btt:hover{
    opacity: 1;
}


/* Header section */
.header{
    height: 65px;
    width: 100%;
    background-color: #7510F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: fixed;
    /* box-shadow: 0 1px 3px #d5d5d5; */
    box-shadow: rgba(0, 0, 0, 0.767) 0px 1px 3px;
}
.profile-name{
    color: white;
    font-size: 1.75rem;
    /* font-family: "Parisienne",cursive; */
    line-height: 1.4;
    cursor: pointer;
}
.header-menu{
    color: white;
    display:inline-block;
    margin-left: 10px; 
    text-decoration: none;

}
.menu{
    padding: 10px 16px;
    color: #fff;
    position: relative;   
    margin: 0.05rem 0.25rem;
    transition: all .5s ease-in-out;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 700;
}
.menu:hover{
    color: black;
    background-color: white;
}


/* Banner section */

.banner{
    height: 840px;
    width: 100%;
    background-color: #fff;
    padding: 3rem 1.5rem;
    
}
.banner-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;
}
.banner-title{
    font-family: "eurostile", sans-serif;
    font-size: 2.5rem !important;
    font-weight: 800;
    line-height: 1.125;
    color: #141c3a;
    margin-bottom: 1.5rem;
    line-height: 1.125;
    font-size: 40px;
    /* text-align: center; */
}
.subtitle{
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    /* text-align: center; */
    font-size: 1.25rem;
    color: rgba(10, 10, 10, 0.9);
}
.avatar{
    height: 230px;
    width: 230px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About me section */
.about{
    height: 600px;
    width: 100%;
    background-color: #7510F7;
    display: flex;
    justify-content: center;
    padding-top: 150px; 
 
}
.about-content{
    height: 264px;
    width: 695px;
    /* background-color: white; */
    /* color:black; */
    text-align: center;
    /* padding-top: 100px; */
    color: #fff;
}
.about-title{
    font-size: 26px;
    line-height: 1.125;
    margin: 24px;

}
.about-subtitle{
    font-family: "europa", sans-serif;
    font-weight: 250;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    /* text-align: center; */
    font-size: 1.25rem;
    color: #fff !important;
}

/* skills section  */
.main-container{
    display: flex;
    
}
.skills{
    height: 800px;
    width: 100%;
    background-color: lightgray;
}
.skills-title{
    color: #141c3a;
    font-size: 32px;
    line-height: 1.125;
    /* margin-top: 4rem; */
    margin-bottom: 4rem;
    text-align: center;
}
.skills-container{
    height: 500px;
    width: 45%;
    /* background-color:#fff; */
    margin-left: 75px;
    /* border-radius: 15px; */
    border-right: 3px solid darkgray;
   
}
.front-end{
    height: 166px;
    width: 100%;
    /* background-color: #7510F7; */
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}
.back-end{
    height: 166px;
    width: 100%;
    /* background-color:rgb(230, 105, 105); */
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
}
.tools{
    height: 166px;
    width: 100%;
    /* background-color:rgb(97, 26, 26); */
    border-radius: 15px;
    padding: 30px 20px;
    /* display: flex; */
    /* justify-content:space-evenly; */
}
.tech-img{
    height: 100px;
    width: 100px;
    margin: auto;
    transition: transform .2s;
    box-shadow: rgba(0, 0, 0, 0.767) 0px 5px 15px;
} 
.tech-img:hover{
    transform: scale(1.5);
    transition: .5s;
}
.experience-container{
    height: 150px;
    width: 50%;
    /* background-color: #fff; */
    margin: 150px 25px;
}

.experience-container > .details{
    height: 100%;
    width: 50%;
    /* background-color:lightblue; */
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.767) 0px 5px 15px;
}
.company-title{
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    color: #141c3a;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 1rem;
}
.job-post,.job-duration{
    font-family: "europa", sans-serif;
    font-size: 18px;
    line-height:20px ;
    color: #141c3a;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

/* my work section */
.mywork{
    height: 1000px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mywork-title{
    /* margin-top: 4rem; */
    font-size: 32px;
    color: #141c3a;
    font-weight: 800;
    line-height: 1.125;
    margin-bottom: 1.5rem;
}
.mywork-subitle{
    font-size: 20px;
    font-family: "europa", sans-serif;
    margin-bottom: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
}
.card-container{
    margin-top: 4rem;
    width: 90%;
    height: 800px;
    /* background-color: #7510F7; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.card{
    height: 47%;
    width: 32%;
    /* background-color: lightgray; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
}
.card > img{
    /*  object-fit: cover;  this property insert image in proper quality resolution */
    object-fit: cover; 
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.card > img:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    /* transform: scale(1.1);
    transition: .5s; */
}

/* Contact section */
.contact{
    height: 300px;
    width: 100%;
    background-color: #7510F7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.contact-title{
    margin-top: 1.5rem;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    line-height: 1.125;
    margin-bottom: 1.5rem;
     
}
/* .fab{
    color: #fff;
    transform: scale(2);
    font-weight: 400;
    font-family: "Font Awesome 5 Brands";
} */
.contact-container{
    height: 70%;
    width: 80%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #fff;
}
.social-platforms > a {
    margin: 25px 35px ;
    text-decoration: none;
}